.theme-bg {
  --theme-bg-light: #fff;
  --theme-bg-dark: #000;
  --theme-bg-duration: 700ms;
  --theme-bg-transition: ease-in-out;
  transition: background var(--theme-bg-duration) var(--theme-bg-transition);
  background: linear-gradient(to bottom left, #000 50%, #000 0, #fff 0, #fff 100%) 0/300vw 300vh
    no-repeat;
}

.dark .theme-bg,
[data-color-mode='dark'] .theme-bg {
  background-position: 100%;
}
